*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    margin: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:#E0E34B ;
    visibility: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.score {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%; 
    height: 10%;
    color: green;
    padding-top: 3vh;
    padding-left: 3vw;
    font-family: Helvetica;
    font-size: 5vw;
  }

.play {
    position: absolute;
    bottom: 15%;
    right: 5%;
    width: 10%; 
    height: 10%;
    color: green;
    padding-bottom: 0;
    padding-right: 0;
    transition: all 0.2s ease-in;
    filter: brightness(0.5) sepia(1) hue-rotate(90deg) saturate(5);

}

.play:hover {
    transform: scale(1.5);
    filter: brightness(0.7) sepia(1) hue-rotate(90deg) saturate(5);

}

.play-tip {
    position: absolute;
    right: 100%;
    background-color: #333; 
    color: white;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden; 
    opacity: 0; 
    transition: opacity 0.3s; 
}

.play:hover .play-tip {
    visibility: visible;
    right: 100%;
    opacity: 1;  
    bottom: 100%; 
    transform: scale(1);
}

.inventory-grid {
    position: absolute; 
    bottom: 10%; 
    left: 45%;
    transform: translateX(-50%);
    width: 70%; 
    height: 10%;
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    gap: 0px;  
  }

.inventory-grid > div {
    background-color: none; 
    border-radius: 8px; 
    width: 10vh;
    height: 10vh;
}

.slot img {
    max-width: 100%; 
    height: auto;
    transition: 0.1s;
    
}

.slot:hover img {
    transform: scale(1.2);

}

.tooltip {
    position: absolute;
    background-color: #333; 
    color: white;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden; 
    opacity: 0; 
    transition: opacity 0.3s; 
}

.slot:hover .tooltip {
    position: absolute;
    visibility: visible;
    opacity: 1;  
    top: 120%;
    left: 10%;
    transform: scale(1.25);
}



.count {
    position: absolute;
    top: 10%;
    transform: translate(-50%, -50%);  
    font-size: 10px;
    color: white; 
    background-color: rgba(0, 255, 0, 0.75); 
    padding: 3px;  
    border-radius: 5px; 
}


.clear {
    position: absolute;
    top: 95%;
    transform: translate(-50%, -50%);  
    font-size: 10px;  
    color: white;  
    background-color: rgb(255, 0, 0, 0.75); 
    padding: 3px;  
    border-radius: 5px; 
}

.message {
    position: absolute; 
    bottom: 10%; 
    left: 45%;
    transform: translateX(-50%);
    width: 70%; 
    height: 5%;
    display: none;
    grid-template-columns: repeat(1fr); 
    gap: 0px;
    color: green; 
    background-color: white;
    padding: 10px;  
    border-radius: 10px;
  }

.titlePage {
    width: 100%;
    height: 100vh;
    visibility: visible;
}

.titlePage img {
    width: 100%;
    height: auto;    
    object-fit: cover;
}

.loading-bar
{
    position: absolute;
    top: 75%;
    width: 55%;
    right: 6%;
    height: 2vh;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 1s ease-in-out;
}

#welcome-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    display: none; 
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  #welcome {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height:1.6 ;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #close-welcome {
    position: relative;
    top: 10px;
    right: 15px;
    cursor: pointer; 
    color: red;
    font-weight: bolder;
  }

  .highlighted{
    color: blue;
    font-weight: bolder;
  }