*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    margin: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.inventory-grid {
    position: absolute; 
    bottom: 10%; 
    left: 50%;
    transform: translateX(-50%);
    width: 70%; 
    height: 10%;
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    gap: 0px;  
  }

.inventory-grid > div {
    background-color: red; 
    border-radius: 8px; 
    width: 10vh;
    height: 10vh;
}

.slot img {
    max-width: 100%; 
    height: auto;
    transition: 0.1s;
}

.slot:hover img {
    transform: scale(1.2);

}

.tooltip {
    position: absolute;
    background-color: #333; 
    color: white;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden; 
    opacity: 0; 
    transition: opacity 0.3s; 
}

.slot:hover .tooltip {
    visibility: visible;
    opacity: 1;  
    bottom: 200%; 
    transform: scale(1.5);
}

.count {
    position: absolute;
    top: 10%;
    transform: translate(-50%, -50%);  
    font-size: 10px;
    color: white; 
    background-color: rgba(0, 255, 0, 0.75); 
    padding: 3px;  
    border-radius: 5px; 
}


.clear {
    position: absolute;
    top: 95%;
    transform: translate(-50%, -50%);  
    font-size: 10px;  
    color: white;  
    background-color: rgb(255, 0, 0, 0.75); 
    padding: 3px;  
    border-radius: 5px; 
}